{%extends 'base.html'%}


<div class="container">
{%block content%}
    {% if user %}
	<h3><a href="/new_order">Create a new order</a></h3>
	{% if cart_items %}
	    {% for item in cart_items %}
		<p><a href="product/{{item.id}}">{{item.name}}</a></p>
	    {% endfor %}
	{% else %}
	    <h3>Cart is currently empty</h3>
	{% endif %}
	<hr>
	{% if orders %}
	    <h3>My orders:<h3>
	    {% for order in orders %}
		<p><a href="order/{{order.id}}">{{order.id}}</a></p>
	    {% endfor %}
	{% endif %}
    {% else %}
	<h3>You are not logged in!</h3>
    {% endif %}
{%endblock%}
</div>
