{% extends 'base.html' %}

<div class="container">
    {% block content %}
	{% with messages = get_flashed_messages() %}
	   {% if messages %}
	      {% for message in messages %}
		  <p>{{ message }}</p>
	      {% endfor %}
	   {% endif %}
	{% endwith %}
	<form method = "POST">
	    <label>Username or Email</label><br>
	    <input type="text" name="username"/><br>
	    <label>Password</label><br>
	    <input type="password" name="password"/><br>
	    <input type="submit" name="login_submit" value="Login"/>
	</form>
    {% endblock %}
</div>
